/vendor/*
/gommit/test/
/reference/test/
/coverage.txt
/cmd/test/
/build/*
/reference/shallow-repository-test/
/reference/testing-repository/
/cmd/testing-repository/
/gommit/testing-repository/
/cmd/test-repository/
/gommit/test-repository/
/reference/test-repository/
